#blognav{
  margin-top: 0;
}


#headercontainer{
  background-color: #00B2EE;
  margin-top: 0;
  height: 100%;
  width: 100%; 
}

#homecontainer{
  display: table;
  margin-top: 0;
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/blog/linepaper.png);
  font-family: 'Handlee', cursive;
}



.blogcontainer{
  display: table-cell;
  margin-top: 1em;
}

#updatecontainer{
  display: table-cell;
  width: 30%;
  border-right: double 3px #FFCCCC;
  margin-top: 1em;
}

@media screen and (max-width: 800px) { 
  #updatecontainer{
   display: none;
}
}


.bloginner{
  padding:1em;
}

