#header{
  display: table-cell;
  padding-bottom: 2em;
  width: 20%;
  margin-left: 0;
  background-color: #00B2EE;
}

@media screen and (max-width: 800px) { 
  #space{
   display: none;
  }
  #header{
    display: block;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
  }
}

#header h1 {
  color: grey;
  font-family: 'Lobster', cursive;
  font-size: 5em;
  text-align: center;
}

#header h3 {
  color: grey;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

#linkedin{
  position: relative;
  top: 0;
  right: 0;
}
