/* Header and Footer */
div{ 
  background-color: #ffff99;
}

.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 80px;
  padding-bottom: 19px;  
  color: black;
  font-family: sansita-one, sans-serif;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;  
  color: grey;
  font-family: sansita-one, sans-serif;
}

.header{
  margin: 0,0,0,0;
  padding: 0,0,0,0;
}

#linkedin{
  position: relative;
  top: 0;
  right: 0;
}
