.blogs{
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}



/*
#blogcontainer,#updatecontainer{
  float: none;
  padding: 1em;
  vertical-align: top;
}

#homecontainer{
  display: table;
  height: 80%; 
  position: relative;
  left: 10%;
  width: 80%;
}

#blogcontainer{
  width: 60%; 
  display: table-cell;
  border-right: groove, 2px, grey;
}
#updatecontainer{
  width: 40%;
  display: table-cell;
}

#slider{
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
.animate-switch-container {
  position:relative;
  height:80%;
  bottom: 0;
  overflow:hidden;
  background-color: transparent;
  border: dotted 1px grey;
}
.animate-switch {
  padding:15px;
  color: grey;
  text-align: center;
}
.animate-switch.ng-animate {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}

