* {
  padding: 0;
  margin: 0;
}

html{
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;

}

body {
  font-family: volkhov, serif;
  min-height: 100%;
  margin-left:auto;
  margin-right:auto;
  min-width: 100%;
  background-color: transparent;
}

.container-full {
  min-height: 100%;
  min-width: 100%;
}

#navcontainer{
  display: table;
  background-image: url(../images/background.jpg);
  -webkit-background-size: 100vw 100vh;
  -moz-background-size: 100vw 100vh;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0;
  margin-top: 0;
}

#navinner{
    display: block;
    background-color:rgba(255,255,255,0.5);
    width: 100vw;
    margin-top: 30vh;
    margin-bottom: 30vh;
}


#introcontainer{
  display: table;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  background-image: url(../images/osu.jpg);
  -webkit-background-size: 100vw 100vh;
  -moz-background-size: 100vw 100vh;
  background-size: 100vw 100vh;
}

#introinner{
    display: block;
    background-color:rgba(255,255,255,0.5);
    width: 100vw;
    margin-left: 25vw;
    margin-top: 30vh;
    margin-bottom: 30vh; 

    color: white;
    font-size: 2em;
    font-family: 'Leckerli One';
    text-align: center;
}


#checkblogcontainer{
  display:table;
  background-image:url(../images/campus.jpg);
  -webkit-background-size: 100vw 100vh;
  -moz-background-size: 100vw 100vh;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

#checkbloginner{
   display: block;
    background-color:rgba(255,255,255,0.5);
    width: 100vw;
    margin-left: 25vw;
    margin-top: 30vh;
    margin-left: 30vh; 

    color: white;
    font-size: 2em;
    font-family: 'Leckerli One';
    text-align: center;
}


#contactcontainer{
  display:table;
  background-image:url(../images/tree.jpg);
  -webkit-background-size: 100vw 100vh;
  -moz-background-size: 100vw 100vh;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

#contactinner{
    display: block;
    background-color:rgba(255,255,255,0.5);
    width: 100vw;
    margin-left: 25vw;
    margin-top: 30vh;
    margin-left: 30vh; 
    font-family: 'Leckerli One';
}






#homecontainer{
  display: table;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  background-image: url(../images/linepaper.png);
}

.blogcontainer{
  display: table-cell;
  margin-top: 1em;
}

#updatecontainer{
  display: table-cell;
  width: 30%;
  border-right: double 3px #FFCCCC;
  margin-top: 1em;
}

@media screen and (max-width: 800px) { 
  #updatecontainer{
   display: none;
}
}


.bloginner{
  padding:1em;
}


/* Custom page footer */
footer {
  /*
  width: 100%;
  display: block;
  color: grey;
  text-align:center; 
  box-shadow:0 12px 8px -9px #555;
  font-family: kaushan-script, cursive;
  background-color: transparent; */
  display: none;
}

@media screen and (max-width: 800px) { 
  footer{
    /*
  width: 100%;
  display: block;
  color: grey;
  text-align:center; 
  box-shadow:0 12px 8px -9px #555;
  font-family: kaushan-script, cursive;
  padding-top: 2em;
  margin-top: 2em; */
  display: none;
}
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
