/*Containers*/
html{
background-color: white;
height: 100%
}

body {
  width: 90%;
  left: 5%;
  min-height: 100%;
  position: absolute;
  font-family: volkhov, serif;
  background-color: #ffff99;
  overflow-y:auto;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#homecontainer{
  margin: 0 auto;
  width: 100%; 
}

#navcontainer{
  display: table-cell;
  width: 20%;
  padding: 10rem;
  background-color: white;
}

#blogcontainer{
  padding: 10rem 10rem;
  background-color: #ffff99;
  display: table-cell;
}

#navcontainer{
  display: table-cell;
  width: 20%;
  padding: 10rem;
  background-color: white;
}



/* Custom page footer */
footer {
  color: grey;
  border-top: 1px solid #e5e5e5;
  font-family: kaushan-script, cursive;
  bottom: 0;
  position: absolute;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
