html{
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;

}

body {
  font-family: volkhov, serif;
  min-height: 100%;
  margin-left:auto;
  margin-right:auto;
  min-width: 100%;
  background-color: transparent;
}

.container-full {
  min-height: 100%;
  min-width: 100%;
}

#navcontainer{
  display: table;
  background-image: url(../images/background.jpg);
  height: 100vh;
  width: 100vw;
  border-bottom: 5px groove black;
}

#navinner{
    display: block;
    border-shadow: 10px 10px 10px black;
    background-color:rgba(0,0,0,0.5);
    width: 100vw;
    top: 50vh;
}

#homecontainer{
  display: table;
  height: 100vh;
  width: 100vh;
  background-color: transparent;
  background-image: url(../images/linepage.png);
}

.blogcontainer{
  display: table-cell;
  margin-top: 1em;
}

#updatecontainer{
  display: table-cell;
  width: 30%;
  border-right: double 3px #FFCCCC;
  margin-top: 1em;
}

@media screen and (max-width: 800px) { 
  #updatecontainer{
   display: none;
}
}


.bloginner{
  padding:1em;
}


/* Custom page footer */
footer {
  /*
  width: 100%;
  display: block;
  color: grey;
  text-align:center; 
  box-shadow:0 12px 8px -9px #555;
  font-family: kaushan-script, cursive;
  background-color: transparent; */
  display: none;
}

@media screen and (max-width: 800px) { 
  footer{
    /*
  width: 100%;
  display: block;
  color: grey;
  text-align:center; 
  box-shadow:0 12px 8px -9px #555;
  font-family: kaushan-script, cursive;
  padding-top: 2em;
  margin-top: 2em; */
  display: none;
}
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
