div{
	margin: 0 auto;
}

nav{
	margin: 0 auto;
	padding: 0;
	font-size: 1em;
}

nav> ul { 
	display:inline-block;
} 

nav.menu li { 
float:none;
list-style-type:none; 
position:relative; 
} 
nav.menu li a { 
display:block; 
padding:.25em .8em; 
font-size:1.2em; 
text-align:left; 
color:#fff; 
text-decoration:none;  
-webkit-font-smoothing: antialiased;
}

nav.menu li:hover > a { 
color:yellow; 
background-color: grey;
border:0; 
} 