nav{
	border-collapse: collapse;
	border: none;
	width: 100%;
	display: table;
	background-color: #00B2EE;
	padding-bottom: 2em;
	min-width: 800px;
}

#mediamenu{
	display: none;
}

@media screen and (max-width: 800px) { 
  nav{
   display: none;
}
	#mediamenu{
		display: block;
	}

	#mediamenu li{
		text-align: center;
		list-style-type:none;
	}
}

nav> ul { 
	display: table-row;
	width: 100%;
} 

nav li { 
text-align: center;
list-style-type:none;
display: table-cell;;
}
 
nav li a { 
display:block; 
padding:0 1em; 
font-size:1.2em; 
color:#fff; 
text-decoration:none;  
-webkit-font-smoothing: antialiased;
}

nav li + li a {border-left:1px solid white;} 

nav li:hover > a { 
color:yellow; 
} 