<div ng-include="'partials/navbar.html'"></div>
<div ng-controller='AddblogCtrl'>
<h2>Write New Article</h2>
<label for='title'>Title: </label>
<input ng-model='form.title' name='title'/>
<br/>
<label for='introduction'>Introduction: </label>
<input ng-model='form.introduction' name='introduction'/>
<label for='id'>Id: </label>
<input ng-model='form.id' name='id'/>
<br/>
	<div text-angular ng-model="form.content" ng-change="id=content">
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	</div>
<p></p>
<p>
	<button ng-click='submitblog()'>Add Article</button>
</p>
</div>