<div ng-include="'partials/navbar.html'"></div>
<div ng-controller='AddblogCtrl'>
<h2>Write New Article</h2>
<label for='title'>Title: </label>
<input ng-model='form.title' name='title'/>
<br/>
<label for='introduction'>Introduction: </label>
<input ng-model='form.introduction' name='introduction'/>
<label for='id'>Id: </label>
<input ng-model='form.id' name='id'/>
<br/>
<p>Content:
	<div text-angular ng-model="htmlVariable">
	<textarea ng-model='form.content' cols='50' rows='15'></textarea>
	</div>
</p>
<p></p>
<p>
	<button ng-click='submitblog()'>Add Article</button>
</p>
</div>