<link rel="stylesheet" href="app/styles/blog.css">

<div ng-include="'partials/navbar.html'"></div>

<div ng-controller='IndexblogCtrl'>
      

        <carousel interval="slideshowInterval" style="margin-left:15px;margin-right:15px;height:500px;">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin-left:15px;margin-right:15px;height:500px;;">
            <div class="carousel-caption">
              <p>{{slide.text}}</p>
             </div> 
          </slide> 
        </carousel> 

<p>
  This website is a study corner/blog for Pengyin Shan to practice skills in web development. Website is built by Node.js, AngularJS with Moongoose and Yeoman. You may notice I'm currently using Yoeman's template for practice:) Thank you Yeoman team!
</p>
<p>
  Sorry, currently I'm still working on this website and a few functions still not work. I'm working hard to solve problems and add more functions. <b>If you notice that AngularJS temporary not work, please wait for a few minites and refresh page. This behavior means I'm modifying website and getting some error.</b>Thanks for visiting and please come back to check updates!
</p>
<p></p>

<div class="blogs">
<hr/>
  <!-- Blog List Section-->
  <p>There are {{blogs.length}} posts</p>
  <p></p>
  <div ng-repeat = 'blog in blogs'>
    <hr/>
    <h4>{{blog.id}}. {{blog.title}}</h4>
    <h5>Last time updated: {{blog.date}}</h5>  
    <h6>{{blog.introduction}}</h6> 
     
    <button id="readfull" class="btn btn-primary" ng-click="getModal(blog.id)">Read More</button> 
    
    <div ng-show="getadmin(currentUser)">
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed; editblog(blog.id)">Edit Article</button>
    <button class="btn btn-default" ng-click="deleteblog(blog.id)">Delete Article</button>
    </div>
    <hr/>
    </div>


   <!--Read Blog Part -->
    <div>
    <script type="text/ng-template" id="readblog.html">
        <div class="modal-header">
            <h3 class="modal-title">{{readtitle}}</h3>
        </div>
        <div class="modal-body">
           <div ng-bind-html="renderHtml()"></div>
        </div>
      </script>
    </div>


<!--Edit Blog Part -->
    <div id="editblog" collapse = "isCollapsed">
      <h2>Edit Article</h2>
      <label for='title'>Title: </label>
      <input ng-model='form.title' name='title'/>
      <label for='introduction'>Introduction: </label>
      <input ng-model='form.introduction' name='title'/>      
        <p>Content:
  <textarea ng-model='form.content' cols='50' rows='15'></textarea>
        </p>
      <p>
        <button class="btn btn-default" ng-click='doedit(form.id)'>Finish Editing</button>
      </p>
     </div>

<!--Blog Options-->
<div ng-show="getadmin(currentUser)">
<a href='/addblog'>Add Article</a>
<hr/>
</div>
</div>


<div class="footer">
  <center>
  <p>Pengyin Shan, who graduated from The Ohio State University on Dec, 2013, is digging into the world of web development. Please feel free to contact me on LinkedIn.
  </p>
</center>
</div>

</div>

