<link rel="stylesheet" href="app/styles/header.css"> 
<link rel="stylesheet" href="app/styles/navbar.css">

<div id="totalcontainer">

<div id="navcontainer" name="navcontainer">
<div id="navinner">
<div ng-controller="NavbarCtrl">

    <div id="header" name="header" data-role="header">
    <center><h1>Pengyin Shan & Web</h1>
            <h3>a study corner/blog for web development.</h3>
        </center>
     </div>

    <nav>
    <ul>
    <li><a href="home.html#introcontainer">About Me</a></li>
    <li><a href="home.html#checkblogcontainer">Blogs</a></li>
    <li><a href="home.html#contactcontainer">Contact Me</a></li>
    </ul>
    </nav>

    <div id="mediamenu">
      <ul>
      <li><a href="home.html#introcontainer">About Me</a></li>
      <li><a href="home.html#checkblogcontainer">Blogs</a></li>
      <li><a href="home.html#contactcontainer">Contact Me</a></li>
      </ul>
    </div>

</div>
</div>
</div>


<div ng-controller='MainCtrl'>

<div id="introcontainer" name="introcontainer" data-role="introcontainer">
 
  <div id="introinner"> 
    <h2>About Me</h2>
    <img id="graph1" src="./app/images/bitao.png" alt="graph1"/> 
    <p>
      After graduated from The Ohio State University on Dec, 2013, I begin to work as a full-stack developer.
    </p>
    <p>  
        I'm very interested in web development skills. I've finished a J2EE (JSP/Servlet) web application development project for my current employer, from design to deployment.
   </p>
   <p>
        In my free time, I like to learn more new and useful technology for web development. I began to design and work on this website from April, 2014 after read some books about Node.js and AngularJS. I was impressed about idea behind and decide to digging more into it. Thanks to Yeoman workflow, I was able to learn MEAN stack at the same time and use them for this website.
   </p>
   <p>
    I also study Android development independently in school. In my current job, I develop an enterprise Android app for my employer. I'm good at creating test plans and writing technical documentations.
   </p>
   <p>
    Thank you for visiting my website. Please feel free to <a href="/blogs"> check my blog </a> or <a href="www.linkedin.com/pub/pengyin-shan/31/490/9b6/">contact me on LinkedIn.</a>
   </p>
  </div>  
</div>

<div id="checkblogcontainer" name="checkblogcontainer" data-role="checkblogcontainer">
  <div id="checkbloginner">
    <img id="graph2" src="./app/images/bird.png" alt="graph2"/>  
    <p>I periodically post my idea and experince in web development here.</p>
    <p>Please feel free to <a href="/blogs"> check my blog </a>.</p>
    <p>
    BTW, How do you feel about two drawings on this webpage? I just got interested in drawing so I bought a cheap Intuos tablet and begin to draw for my website:)
   </p>


   <div id="updateslider" style="border:1px solid black;">
    <div class="updateslide" ng-repeat="slide in slides" ng-show="slide.visible">
      <img ng-src={{slide.src}} style="width:200px; height=200px;"/>
      <h4>{{slide.title}}</h4>  
      <p>{{slide.content}}</p>     
    </div>
    <div class="arrows">
    <a href="#" ng-click="prev()">
      <h6>Prev</h6>
    </a>
    <a href="#" ng-click="next()">
      <h6>Next</h6>
    </a>
    </div>
   </div>

  </div>
</div>

<div id="contactcontainer" name="contactcontainer" data-role="contactcontainer">
  <div id="contactinner">
    <div ng-controller='SendemailCtrl'>
    <h2>Send An Email to Pengyin Shan</h2>
    <label for='from'>From: </label>
    <input ng-model='form.from' name='from'/>
    <label for='subject'>Subject: </label>
    <input ng-model='form.subject' name='subject'/>
    <label for='text'>Content: </label>
    <textarea ng-model='form.text' name='text'></textarea>
    <div id="buttonarea">
      <button ng-click="sendemail()">Send Email</button>
      <button ng-click="cancel()">Cancel</button>
    </div>
    <br/>
      <p id="sendemailprocess"></p>
    </div>
  </div>
</div>

 <footer>
 <center>
  <p>This website is made by Pengyin Shan, 2014. Special thanks to subtlepatterns.com for texture file.
  </p>
</center>
</footer>

<div id="backtotop">
  <a href="home.html#navcontainer">Back to Top</a>
</div>

</div>
