<link rel="stylesheet" href="app/styles/header.css"> 
<link rel="stylesheet" href="app/styles/navbar.css">
<div ng-controller="NavbarCtrl">
    
    <div id="linkedin">      
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/pengyin-shan/31/490/9b6" data-format="click" data-text="Pengyin Shan" data-related="false"></script>
    </div>

    <div id="header">
    <center><h1>Pengyin Shan & Web</h1>
            <h3>a study corner/blog for Pengyin Shan to practice skills in web development.</h3>
        <h3>Focusing on Node.js and AngularJS working with MongoDB and Bootstrap.</h3></center>
     </div>

    <nav>
    <div class="navinner"> 
  	<ul>
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
    </ul>
    </div>
    </nav>
</div>