<div ng-include="'partials/navbar.html'"></div>
<div ng-controller='SendemailCtrl'>
<center>
<h2>Create An Email to Pengyin Shan</h2>
<hr/>
<label for='from'>From: </label>
<input ng-model='form.from' name='from'/>
<br/>
<label for='subject'>Subject: </label>
<input ng-model='form.subject' name='subject'/>
<br/>
<label for='text'>Content: </label>
<textarea ng-model='form.text' cols='50' rows='15' name='text'></textarea>
<br/>
	<button ng-click="sendemail()">Send Email</button>
	<button ng-click="cancel()">Cancel</button>
</center>
</div>