<div ng-include="'partials/navbar.html'"></div>
<div ng-controller='SendemailCtrl'>
<h2>Create An Email to Pengyin Shan</h2>
<label for='from'>From: </label>
<input ng-model='form.From' name='from'/>
<br/>
<label for='to'>To: </label>
<label ng-model='form.To' name='to'>shanpy901115@gmail.com</label>
<br/>
<label for='subject'>Subject: </label>
<input ng-model='form.Subject' name='subject'/>
<br/>
<label for='textbody'>Content: </label>
<textarea ng-model='form.TextBody' cols='50' rows='15' name='textbody'></textarea>
<br/>
<p>
	<button ng-click='sendemail()'>Send Email</button>
	<button href="/home">Cancel</button>
</p>
</div>