<div ng-include="'partials/navbar.html'"></div>
<div ng-controller='SendemailCtrl'>
<h2>Create An Email to Pengyin Shan</h2>
<label for='from'>From: </label>
<input ng-model='form.from' name='from'/>
<br/>
<label for='to'>To: </label>
<label ng-model='form.to' name='to'>shanpy901115@gmail.com</label>
<br/>
<label for='subject'>Subject: </label>
<input ng-model='form.subject' name='subject'/>
<br/>
<p>Content:
	<textarea ng-model='form.content' cols='50' rows='15'></textarea>
</p>
<br/>
<p>
	<button ng-click='sendemail()'>Send Email</button>
	<button href="/home">Cancel</button>
</p>
</div>