<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pengyin Shan</title>
    <meta name="description" content="Pengyin Shan and Web">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.css">

    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700|Pacifico|Lobster|Kaushan+Script|Griffy|Leckerli+One|IM+Fell+English:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=|Handlee|Damion' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito|Signika' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="app/bower_components/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="app/styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="webappApp">
    <div class="container-full" ng-view="">
    </div>
    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="app/bower_components/jquery/dist/jquery.js"></script>
    <script src="app/bower_components/angular/angular.js"></script>
    <script src="app/bower_components/bootstrap/dist/js/bootstrap.js"></script>   
    <script src="app/bower_components/angular-animate/angular-animate.js"></script>
    <script src="app/bower_components/angular-resource/angular-resource.js"></script>
    <script src="app/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="app/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="app/bower_components/angular-route/angular-route.js"></script>
    <script src="app/bower_components/jquery-ui/ui/jquery-ui.js"></script>   
    <script src="app/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="app/bower_components/angular-ui-sortable/sortable.js"></script>

    <script src="//use.edgefonts.net/miama;sofia;sansita-one;noticia-text.js"></script>
     <script src="//use.edgefonts.net/volkhov;kaushan-script.js"></script>

    <script type="text/javascript" src="app/scripts/app.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/navbar.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/login.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/signup.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/settings.js"></script>
    <script type="text/javascript" src="app/scripts/services/auth.js"></script>
    <script type="text/javascript" src="app/scripts/services/session.js"></script>
    <script type="text/javascript" src="app/scripts/services/user.js"></script>
    <script type="text/javascript" src='app/scripts/controllers/main.js'></script>
    <script type="text/javascript" src='app/scripts/controllers/blogindex.js'></script>
    <script type="text/javascript" src='app/scripts/controllers/addblog.js'></script>
    <script type="text/javascript" src='app/scripts/controllers/editblog.js'></script>
    <script type="text/javascript" src='app/scripts/controllers/deleteblog.js'></script>
    <script type="text/javascript" src='app/scripts/controllers/readblog.js'></script>
    <script type="text/javascript" src='app/scripts/controllers/sendemail.js'></script>
    <script type="text/javascript" src="app/scripts/directives/mongooseError.js"></script>
</body>
</html>
